[tools]
go = "1.22.5"
node = "20.15.0"
task = "3.38.0"
"github:lucasew/workspaced" = "0.1.3"

[tasks.lint]
description = "Run workspaced codebase lint"
run = "workspaced codebase lint"

[tasks.fmt]
description = "Run workspaced codebase format"
run = "workspaced codebase format"

[tasks.test]
description = "Run tests"
depends = ["test:*"]

[tasks."test:go"]
description = "Run Go tests"
run = "find . -type f -name go.mod -not -path '*/vendor/*' -execdir go test ./... \\;"

[tasks."test:npm"]
description = "Run NPM tests"
run = "find . -type f -name package.json -not -path '*/node_modules/*' -execdir npm run test --if-present \\;"

[tasks.codegen]
description = "Run code generation"
depends = ["codegen:*"]

[tasks."codegen:go"]
description = "Run Go codegen"
run = "find . -type f -name go.mod -not -path '*/vendor/*' -execdir go generate ./... \\;"

[tasks."codegen:npm"]
description = "Run NPM codegen"
run = "find . -type f -name package.json -not -path '*/node_modules/*' -execdir npm run codegen --if-present \\;"

[tasks.install]
description = "Install dependencies"
depends = ["install:*"]

[tasks."install:go"]
description = "Install Go dependencies"
run = "find . -type f -name go.mod -not -path '*/vendor/*' -execdir go mod download \\;"

[tasks."install:npm"]
description = "Install NPM dependencies"
run = "find . -type f -name package.json -not -path '*/node_modules/*' -execdir npm install \\;"

[tasks.ci]
description = "Run CI pipeline"
depends = ["lint", "test"]
